{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Home Automation system using a Raspberry Pi board and IoT devices" >
    <meta name="author" content="Adrian Ioan Breazu">
    <meta name="contact" content="breazuadrian at gmail dot com">
    {% block meta%}
    {% endblock meta %}
    <link rel="icon" href="{% static 'resources/images/favicon.ico'%}">
    <link href="{% static 'gentelella/css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'gentelella/fonts/css/font-awesome.min.css' %}" rel="stylesheet">
    {% block style %}
    {% endblock style %}
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    {% block mainblock %}
    <div class="container body">
        <div class="main_container">
            <div class="top_nav">
                {% block nav %}
                {% endblock nav %}
            </div>

            {% block content %}
            {% endblock content %}

            <div class="right_col">
                <footer class="footer">

                    {% block footer %}
                    {% endblock footer%}
                    <div class="copyright-info">
                        <p class="pull-right">&copy; 2017 Adrian Ioan Breazu ( breazuadrian at gmail dot com )</p>
                    </div>
                    <div class="copyright-info">
                        <p class="pull-right">Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a></p>
                    </div>
                    <div class="copyright-info">
                        <p class="pull-right">Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></p>
                    </div>
                    <div class="clearfix"></div>
                </footer>
            </div>
        </div>
    </div>
    {% endblock mainblock %}

     <div id="custom_notifications" class="custom-notifications dsp_none">
        {% block notifications %}
        {% endblock notifications %}
        <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
        </ul>
        <div class="clearfix"></div>
        <div id="notif-group" class="tabbed_notifications"></div>
    </div>


    <script src="{% static 'gentelella/js/jquery.min.js' %}"></script>
    <script src="{% static 'gentelella/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'gentelella/js/moment/moment.min.js' %}"></script>
    <script src="{% static 'gentelella/js/chartjs/chart.min.js' %}"></script>
    {% block javascript %}
    {% endblock javascript %}
</body>
</html>