{% extends "base.html" %}
{% load staticfiles %}

{% block title%}{{ title }}{%endblock title%}

{% block content %}
<div>
    <h1>Temperature data</h1>
    <table class="table table-border">
        <thdead>
            <tr>
                <th class="text-center">IoT location</th>
                <th class="text-center">Value</th>
                <th class="text-center">Timestamp</th>
            </tr>
        </thdead>
        <tbody>
        {% for read_iot in iot_objects %}
            <tr>
                <td class="text-center">{{ read_iot.IoT_id.location }}</td>
                <td class="text-center">{{ read_iot.value }}</td>
                <td class="text-center">{{ read_iot.datetime }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}