{% extends "base.html" %}
{% load staticfiles %}

{% block title%}{{ title }}{%endblock title%}

{% block content %}
<div>
    <h1>Temperature data</h1>
    <table class="table table-border">
        <thdead>
            <tr>
                <th class="text-center">IoT location</th>
                <th class="text-center">Value</th>
                <th class="text-center">Timestamp</th>
            </tr>
        </thdead>
        <tbody>
        {% for read_iot in iot_objects %}
            <tr>
                <td class="text-center">{{ read_iot.IoT_id.location }}</td>
                <td class="text-center">{{ read_iot.value }}</td>
                <td class="text-center">{{ read_iot.datetime }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="col-ms-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Temperature sensor</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a id="24_read" href="#">last 24 reads</a></li>
                        <li><a id="48_read" href="#">last 48 reads</a></li>
                        <li><a id="360_read" href="#">last 360 reads</a></li>
                        <li><a id="720_read" href="#">last 720 reads</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="x_content">
            <canvas id="temp_canvas" width="700" height="300"></canvas>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascript %}
<script src="{% static 'resources/js/script.js' %}"></script>
{% endblock javascript %}